name: Build and Push to ECR
  
  on:
    push:
      branches: [main]
      permissions:
        id-token: write #OIDC
        contents: read
  jobs:
    build-and-push:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Setup Node.jobs
          uses: actions/setup-node@v3
          with:
            node-version: '15.14.0'
        - name: Install dependencies
          run: |
            cd codebase/rdicidr-0.1.0
            npm Install
        - name: Lint
          run: npx eslint ./src/
          working directory: codebase/rdicidr-0.1.0
        - name: Format check
          run: npx prettier --check .
          working directory: codebase/rdicidr-0.1.0
        - name: Run tests
          run: |
            cd codebase/rdicidr-0.1.0
            CI=true npm test
        - name: Build application
          run: |
            cd codebase/rdicidr-0.1.0
            npm run build


        - name: Configure AWS with OIDC
          uses: aws-actions/configure-aws-credentials@v2
          with:
            role-to-assume: role-arn: arn:aws:iam::183631345736:role/githubaction-fullstack-sre
            aws-region: us-east-1

        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v2

        - name: Build, tag, and push image to Amazon ECR
          env:
            AWS_REGION: us-east-1
            AWS_Account_ID: 183631345736
            ECR_REPOSITORY: fullstack-sre
            IMAGE_TAG: latest
          run: |
            # Build the Docker image
            docker build -t $ECR_REPOSITORY:$IMAGE_TAG -f codebase/rdicidr-0.1.0/Dockerfile codebase/rdicidr-0.1.0/

            # Tag the image with the ECR registry
            docker tag $ECR_REPOSITORY:$IMAGE_TAG \
              $AWS_Account_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

            # Push the image to ECR
            docker push \ 
              $AWS_Account_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

    deploy to EC2:
      needs: build-and-push
      runs-on: ubuntu-latest
      steps:
        - name: Configure AWS with OIDC
          uses: aws-actions/configure-aws-credentials@v2
          with:
            role-to-assume: role-arn: arn:aws:iam::183631345736:role/githubaction-fullstack-sre
            aws-region: us-east-1
        - name: Deploy to EC2 instance
          uses: easingthemes/ssh-deploy@v2.1.5
          env:
            SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
            run: |
              echo "$SSH_KEY" > /tmp/key.pem
              chmod 600 /tmp/key.pem
            ECR_PASSS=$(aws ecr get-login-password --region us-east-1)
            ssh -i /tmp/key.pem -o StrictHostKeyChecking=no ${ {secrets.EC2_USER}}@${{ secrets.EC2_HOST }} << 'EOF'
              docker stop rdicidr || true
              docker rm rdicidr || true
              docker login -u AWS -p $ECR_PASSS 183631345736.dkr.ecr.us-east-1.amazonaws.com
              docker pull 183631345736.dkr.ecr.us-east-1.amazonaws.com/fullstack-sre:latest
              docker run -d -p 80:80 --name rdicidr 183631345736.dkr.ecr.us-east-1.amazonaws.com/fullstack-sre:latest
              EOF

  